@import url("https://fonts.googleapis.com/css2?family=Autour+One&display=swap");

.fondo {
  background-color: rgb(196, 248, 250);
}


.imagenheader {
  width: 600px;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

h1 {
  font-family: 'Autour One';
  position: left;
  color: rgb(33, 33, 33);
}

.fondoH {
  background-image: url(imagenes/840005-green-flower-background-2560x1600-large-resolution.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.centrar {
  display: flex; /* los siguientes tres son necesarios para centrar y acomodar */
  justify-content: space-around;
  align-items: center;
}

.contenedor-pokemons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  width: 90%;
}

.img-pokemon {
  border: 2px solid #ffffff;
  margin: 10px 10px 0px 10px;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(23, 121, 9, 1) 0%,
    rgba(90, 206, 86, 1) 3%,
    rgba(150, 255, 187, 1) 25%,
    rgba(182, 255, 219, 1) 44%,
    rgba(2, 238, 144, 0.468312324929972) 89%,
    rgba(0, 212, 255, 1) 100%
  );
  border-radius: 10px;
  padding: 5px 18px;
  height: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  padding: 50px;
}

.pokename {
  font-family: Arial;
  font-size: 100%;
  border: 2px solid white;
  background-color: rgb(187, 255, 203);
  position: absolute;
  border-radius: 5px;
}

.contenedor-imagen-pokemon {
  list-style-type: none;
}

.poketipo {
  font-family: 'Autour One';
  font-size: 100%;
  border: 2px solid white;
  background: rgb(195, 193, 34);
  background: linear-gradient(
    0deg,
    rgba(195, 193, 34, 1) 0%,
    rgba(253, 45, 172, 1) 100%
  );
  margin: 0px;
  border-radius: 5px;
}

#name{
  border-bottom: 10px;
  background-color: rgb(238, 255, 205);
  margin: 30px 20px;
  position: center;
  border-radius: 5px;
  display: inline-block;
  width: 30%;
  padding: 7px 9px;

}


#select-filter {
  border-bottom: 10px;
  background-color: rgb(238, 255, 205);
  margin: 30px 20px;
  position: center;
  border-radius: 5px;
  display: inline-block;
  appearance: none;
  width: 50%;
	cursor: pointer;
  padding: 7px 9px;
  outline: 0;
	border:2px solid rgba(0,0,0,0.2);
}

.selectorcontainer{
  display: flex; /* los siguientes tres son necesarios para centrar y acomodar */
  align-items: center;
}

.nav-container {
  display: grid;
  font-family: "Autour One";
  font-style: normal;
  color: rgb(195, 195, 195);
  border: 4px;
  justify-content: space-around;
  align-items: center;
  background: #cfff60;
  padding: 01% 01% 01% 01%;
  text-align: center;
  margin-left: 10px;
  border: 10px;
  border-color: #da5151;
  border-radius: 10px;
  background-image: url("imagenes/pngtree-lynx-summer-green-banner-background-image_155644.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: scroll;
}
.average {
  font-size: 120%;
}

.name {
  border-radius: 10px;

}

footer{
  text-align: center;
}

.pokebola-img{
  width: 40px;
  height: 60px;
}

#limpiarBusqueda{
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Autour One';
}
#limpiarBusqueda:hover {
  background-color: #45a049;
}
#limpiarBusqueda:active {
  background-color: #3e8e41;
}

#select-sort{
  border-bottom: 10px;
  background-color: rgb(238, 255, 205);
  margin: 30px 20px;
  position: center;
  border-radius: 5px;
  display: inline-block;
  appearance: none;
  width: 50%;
	cursor: pointer;
  padding: 7px 9px;
  outline: 0;
	border:2px solid rgba(0,0,0,0.2);
}